<!DOCTYPE html>
<html>
<head>
  <title>Dog Registration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= @page_title || "Dog Registrations" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="http://localhost:3000/">Home</a></li>

				<li><%= link_to 'Register', new_user_path %></li>
			</ul>

			<% if session[:user_id] %>
				<%= button_to 'Logout', logout_path, method: :delete %>
			<% end %>
		</div>
	</div>	

	<div id="main">
		<%= yield %>
	</div>

</body>
</html>
